### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [61]:
# Dependencies and Setup
import numpy as pd
import pandas as pd

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [62]:
# Total number of players
total_players = len(purchase_data["SN"].unique())
total_players

#Create total players dataframe
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [70]:
##Purchasing Analysis (Total)##

# Calculate average price
average_price = purchase_data["Price"].mean()

# Calculate # of unique purchase items
unique_items = len((purchase_data["Item ID"]).unique())

# Calculate total purchases
total_purchases = (purchase_data["Purchase ID"]).count()

# Calculate total revenue
total_revenue = (purchase_data["Price"]).sum()

# Purchase anaylsis summary frame
purchase_analysis = {'Average Price': [average_price],
                    'Number of Purchases': [total_purchases],
                    'Number of Unique Items': [unique_items],
                    'Total Revenue': [total_revenue]}
purchase_analysis_df = pd.DataFrame(purchase_analysis)

# Set currency formatting
purchase_analysis_df = purchase_analysis_df.style.format({'Average Price':'${:,.2f}', 
                                                          'Total Revenue':'${:,.2f}'})
# Display summary frame
purchase_analysis_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [71]:
##Gender Demographics##
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non-Disclosed

# Group purchase_data by Gender
gender = purchase_data.groupby("Gender")

# Count the total of screen names "SN" by gender
total_count_gender = gender.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_count_gender / total_players * 100

# Create data frame with obtained values
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, 
                                    "Total Count": total_count_gender})

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [72]:
##Purchasing Analysis (By Gender)##

# Calculate Purchase Count (by gender)
purchase_count = gender["Purchase ID"].count()

# Calculate Average Purchase Price (by gender)
avg_purchase_price = gender["Price"].mean()

# Calculate Total Purchase Value (by gender)
avg_purchase_total = gender["Price"].sum()

# Calculate Average Purchase Total per Person (by gender)
avg_purchase_per_person = avg_purchase_total/total_count_gender

# Create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Format with currency style & display summary dataframe
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [73]:
## Age Demographics ##

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
    # Percentage of Players
    # Total Count

# Establish 4yr bins for ages(i.e. <10, 10-14, 15-19, etc.)
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sort age values into 4yr bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
age = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = age["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [74]:
##Purchasing Anaylsis (by Age)##

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
    # Purchase Count
    # Average Purchase Price
    # Total Purchase Value
    # Average Purchase Total per Person by Age Group

# Calculate Purchase Count (by age group)
purchase_count_age = age["Purchase ID"].count()

# Calulate Average Purchase price (by age group) 
avg_purchase_price_age = age["Price"].mean()

# Calculate Total Purchase Value (by age group) 
total_purchase_value = age["Price"].sum()

# Calculate the Average Purchase Total per person (by age group) 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [75]:
##Top Spenders##

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
    #SN
    #Purchase Count
    #Average Purchase Price
    #Total Purchase Value
    
# Group purchase data by SN
spenders = purchase_data.groupby("SN")

# Count the total purchases by SN
purchase_count_spender = spenders["Purchase ID"].count()

# Calculate the average purchase by SN 
avg_purchase_price_spender = spenders["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spenders["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [50]:
##Most Popular Items##

#Identify the 5 most popular items by purchase count, then list (in a table):
    #Item ID
    #Item Name
    #Purchase Count
    #Item Price
    #Total Purchase Value
    
# Create new data frame with items above
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style & display summary dataframe
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [51]:
##Most Profitable Items##

#Identify the 5 most profitable items by total purchase value, then list (in a table):
    #Item ID
    #Item Name
    #Purchase Count
    #Item Price
    #Total Purchase Value
    
# Resort above popular_items data frame in terms of: total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})